/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
  -fx-font-family: "arial";
  fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-background-color:#0f508b;
  -fx-font-weight: bold;
  -fx-text-fill:black;
}
.vbox {
  -fx-background-color:#0f508b;
  -fx-pref-width:200;
  -fx-padding:5px;
  -fx-alignment:center;
  -fx-spacing:5px;
  -fx-border-color: black;
  -fx-border-width:2px;
  -fx-text-fill:black;
}

.textfield {
  -fx-font-weight: bold;
  -fx-border-color: black;
  -fx-border-width:4px;
  -fx-text-fill:black;
  -highlight-text-fill:red;
}

.list-cell:filled:hover {
    -fx-background-color: #14a2f4;
    -fx-text-fill: white;
}

.list-cell:filled {
  -fx-background-color: #287ac3;
  -fx-text-fill: black;
}

.button
{
  -fx-text-fill:black;
  -fx-background-color:#287ac3;
}

.button:hover
{
  -fx-text-fill:black;
  -fx-background-color:#14a2f4;
}

.label
{
-fx-text-fill: black;
}
